.home
	p Home Page

.menu-trigger
	.bars
		span
		span
		span
	p MENU
	
	.menu
		ul
			li 
				p New Arrivals
			li
				p Woman
			li
				p Man
			li
				p Releases
			li 
				p Stores

a.dribbble-link(href="https://dribbble.com/shots/5290735-ARKK-Menu-and-Category-page" target="_blank")
	i.fab.fa-dribbble