@import url("https://fonts.googleapis.com/css?family=Abel");
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Abel, Helvetica, sans-serif;
}

.home {
  background: #222;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home > p {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.menu-trigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: #222;
}
.menu-trigger:hover {
  border-right: none;
}
.menu-trigger:hover > .bars > span:first-of-type, .menu-trigger:hover > .bars > span:last-of-type {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 0;
}
.menu-trigger:hover > .bars > span:nth-of-type(2) {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.menu-trigger:hover > .menu {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.menu-trigger:hover > .menu > ul > li > p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.menu-trigger:hover > p {
  -webkit-transform: translateY(20px) rotate(-90deg);
          transform: translateY(20px) rotate(-90deg);
  opacity: 1;
}
.menu-trigger > p {
  color: #aaa;
  -webkit-transform: translateY(40px) rotate(-90deg);
          transform: translateY(40px) rotate(-90deg);
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 0.12rem;
  transition: all 0.4s ease;
  position: absolute;
  opacity: 0;
  font-size: 0.9rem;
  z-index: 10;
}

.bars {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.bars > span {
  width: 4px;
  height: 40px;
  background: #666;
  transition: all 0.4s ease;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  height: 100%;
  border-right: 1px solid #444;
  -webkit-transform: translateX(calc(-100% + 51px));
          transform: translateX(calc(-100% + 51px));
  transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  padding: 50px 100px 50px 50px;
}
.menu > ul:hover > li:not(:hover) {
  color: rgba(249, 249, 237, 0.5);
}
.menu > ul > li {
  color: #f9f9ed;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 0;
  width: 160px;
  overflow: hidden;
}
.menu > ul > li:first-of-type {
  padding-top: 0;
}
.menu > ul > li:last-of-type {
  padding-bottom: 0;
}
.menu > ul > li:nth-of-type(1) > p {
  transition: color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s, color 0.2s ease;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s, color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}
.menu > ul > li:nth-of-type(2) > p {
  transition: color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s, color 0.2s ease;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s, color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s;
}
.menu > ul > li:nth-of-type(3) > p {
  transition: color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s, color 0.2s ease;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s, color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}
.menu > ul > li:nth-of-type(4) > p {
  transition: color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s, color 0.2s ease;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s, color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s;
}
.menu > ul > li:nth-of-type(5) > p {
  transition: color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, color 0.2s ease;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, color 0.2s ease, -webkit-transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
}
.menu > ul > li > p {
  -webkit-transform: translateY(calc(100% + 10px));
          transform: translateY(calc(100% + 10px));
}

.dribbble-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #E04982;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.dribbble-link:before {
  content: "View original post on Dribbble";
  position: absolute;
  top: -85%;
  left: -150px;
  width: 180px;
  transition: all 0.4s ease;
  background: #fff;
  color: #222;
  border-radius: 5px;
  padding: 10px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.dribbble-link:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
.dribbble-link > i {
  color: #fff;
  font-size: 1.8rem;
}
